/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
main{
    width: 100%;
}

.main-container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

aside{
    width: 300px;
    height: 100%;
    background-color: #000000;
}

.content{
    width: calc(100% - 300px);
    height: 100%;
}

.upgrade{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #080b12;
}


/* FOOTER */
footer{
    color: white;
}

.footer-container{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* DEBUG */
.debug main .main-container .content{
    background-color: darksalmon;
}

.debug main .main-container .content .upgrade{
    height: 80px;
}

.debug footer .footer-container div{
    background-color: indianred;
    padding: 20px 60px;
}

